.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  width: 100vw;
  padding-inline: 6rem;
  overflow: hidden;
}

.content_wrapper {
  margin-top: 3rem;
  position: relative;
}

.form {
  position: relative;
  background-color: rgba(60, 1, 255, 0.05);
  color: #fff;
  padding: 3rem 2rem;
  border-radius: var(--border-radius);
  height: 60vh;
  z-index: 100;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff19;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ellipse {
  position: absolute;
  right: 10%;
  height: 10rem;
  width: 10rem;
  z-index: -1;
  background-image: radial-gradient(
    circle,
    #d16bcd,
    #f96fad,
    #ff818f,
    #ff9b7a,
    #ffb873,
    #efc975,
    #dcd980,
    #c8e794,
    #afeea6,
    #94f4bd,
    #79f8d7,
    #5ffbf1
  );
  border-radius: 50%;
  z-index: 0;
  left: 0;
  filter: blur(150px);
  transition: all 3s ease;
}

.auth_ellipse {
  left: 0;
  opacity: 0.5;
  background-image: radial-gradient(
    circle,
    #6bd1c3,
    #a46ff9,
    #ffe081,
    #ff9b7a,
    #ffb873,
    #efc975
  );
}

.main_text,
.desc {
  color: #fff;
}

.main_text {
  line-height: 0.9;
  font-weight: bold;
  font-size: 5rem;
  background-image: radial-gradient(
    circle,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  color: #d4d4d4;
}

.back_button {
  color: #6e6e6e;
  align-self: start;
  border: none;
  outline: none;
  background: transparent;
  font-size: small;
}

.back_button_arrow {
  transition: all 0.25s ease;
}

.back_button:hover .back_button_arrow {
  transform: translateX(-3px);
}

.login_link {
  color: #d4d4d4;
  font-size: small;
  margin-top: 2rem;
}

.form_header {
  background-color: #ffffff09;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: small;
  margin-bottom: 2rem;
}

.toast_container {
  background-color: transparent;
}

@media screen and (max-width: 456px) {
  .main {
    padding: 2rem;
    min-height: auto;
    height: auto;
  }
  .content_wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
  }
  .form {
    height: auto;
    margin-left: 0;
    margin-top: 4rem;
  }
  .main_text {
    font-size: 4rem;
  }
  .desc {
    font-size: small;
  }
}
