.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: #131313;
}

.main::after {
  position: absolute;
  content: "";
  height: 4rem;
  width: 100vw;
  background-color: #6effa867;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  filter: blur(150px);
}

.ellipse {
  height: 8rem;
  width: 8rem;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  filter: blur(200px);
}

.ellipse_1 {
  background-color: #00ffff;
}

.table_wrapper {
  border: 1px solid #ffffff15;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.024);
  backdrop-filter: blur(10px);
  height: auto;
}

.table {
  color: #7f7f7f;
}

.content_wrapper {
  padding: 2rem 4rem;
  height: 80vh;
  width: 100vw;
}
